headfile:///C:/Users/Leslie_2/Documents/CIM111/notes/week7/structure.html
-+93
  width: 80%;
  height: 100px;
  background-color: purple;
  margin: 0 auto;
}

main{
  width: 80%;
  height: 600px;
  background-color: blue;
  margin: 0 auto;
}

.col{
  width: 49.5%;
  height: 500px;
  background-color: aqua;
  display: inline-block;
  vertical-align: top;

}
